body
{
    text-align: center;
    background-image: url(images/image3.jpg);
}

#section1 
{
    background-color: red;

}

#section2 
{
    background-color: green;
}

#section3
{
    background-color: yellow;
}